body {
    font-family: 'Arial', sans-serif;
    background-color: #ff94c4;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

main.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.book {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
}
